.jumbotron {
    background-color: rgb(108, 197, 197);
    color: black;
    margin-top: 50px;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(222, 241, 117);
    margin-bottom: 0px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    padding: 2px 2px 2px 2px;
    background-color: rgb(231, 200, 59);
    color: black;
    border-color: black;
}